body {
	font-family: "Helvetica Neue";
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

#header {
	width: 100%;
	height: 60px;
	background-color: #ffffff;
}

.wH {
	position: fixed;
	margin-top: -10px;
	padding-top: 8px;
}

#title {
	font-size: 35px;
	font-weight: 200;
	padding-left: 30px;
	padding-right: 40px;
	padding-top: 3px;
	float: left;
}

#titleLink {
	color: #000000;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: -7px;

}

#wNav {
	padding-right: 16px;
}

.navLink {
	list-style: none;
	display: inline;
	padding-right: 20px;
	font-weight: 200;	
}

#dm {
	list-style: none;
	display: none;
	position: absolute;
	z-index: 100;
	margin-left: 65px;
}

.dl {
	padding: 3px;
	text-align: center;
	background-color: #f2f2f2;
	margin: 1px;
	border: 1px solid #ffffff;
}

.dl a {
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

.linkText {
	color: #000000;
	font-size: 25px;
	text-decoration: none;
}

#page {
	width: 100%;
	margin-top: 10px;	
}

iframe {
	margin-left: -5px;
	margin-top: 50px;
	border: none;
}

.jumbo {
	width: 100%;
	height: 700px;
	margin: 0 auto;
	position: relative;
}

.col {
	width: 33.3%;
	height: 100%;
	float: left;
}

.jImg {
	left: 27%;
	width: 640px;
	height: 640px;
	position: absolute;
	border: 1px solid #ffffff;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

.jText {
	width: 88%;
	transform: translateY(-99%);
	font-size: 23px;
	font-weight: 200;
	margin: 0 auto;
}

.jText a {
	text-decoration: none;
	color: #000000;
}

.work {
	width: 100%;
	padding-bottom: 20px;
	background-color: #f2f2f2;
}

.work img {
	margin-top: -30px;
}

.wText {
	width: 700px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 200;
	padding-bottom: 10px;
}

.wText h1 {
	text-align: center;
}

.wText h1 a {
	text-decoration: none; 
	color: #000000;
}

#skills li{
	padding-top: 10px;
}

#dino {
	font-family: 'Helvetica Neue';
	font-weight: 700;
}

#trees {
	font-family: 'Lobster';
	font-weight: 700;
}

#thrones {
	font-family: 'Helvetica';
	font-weight: 700;
}

#contact {
	width: 100%;
}

#dMe {
	padding-top: 20px;
	margin: 0 auto;
	width: 400px;
}

#me {
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #ffffff;
	border-radius: 50%;
}

#hello {
	text-align: center;
}

#hello h1 a {
	color: #000000;
	text-decoration: none;
}

#aboutT {
	width: 80%;
	margin: 0 auto;
}

#aboutT div {
	margin-top: -25px
}

#aboutT h1 {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

#aboutT p {
	font-size: 20px;
	text-align: center;
}

#aboutI1 {
	width: 1110px;
	height: 300px;
	margin: 0 auto;
}

#aboutI2 {
	width: 740px;
	height: 300px;
	margin: 0 auto;
}

.aboutImg {
	width: 300px;
	height: 300px;
	margin-left: 35px;
	margin-right: 35px;
	float: left;
}

.aboutImg img {
	border: 1px solid #ffffff;
	border-radius: 50%;
	position: relative;
}

/*img:hover + div {
	display: block;
}*/

.secret {
	height: 300px;
	width: 300px;
	margin-top: -305px;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	border-radius: 50%;
	display: none;
	position: absolute;
}

.secret p {
	text-align: center;
	margin: 0 auto;
	padding-top: 138px;
	font-size: 20px;
}

.linkText:hover {
	opacity: 0.7;
}

#gutter {
	width: 80%;
	height: 700px;
	margin: 0 auto;
	background-color: #ccffcc;
}

#gutter div {
	width: 48%;
	float: left;
	margin: 1%;
	text-align: center;
	background-color: #f2f2f2;
	height: 97%
}

#gutter div h1{
	margin-top: 20%;
}

#gutter div p{
	font-size: 23px;
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

#gutter div ul {
	list-style: none;
	margin-left: -6%;
}

#gutter div ul li {
	font-size: 20px;
}

#gutter div img {
	border: 1px solid #f2f2f2;
	border-radius: 50%;
}

.tdl {
	padding-top: 70px;
}

.complete {
	background-color: red;
}

#body {
	padding: 10px;
	font-family: 'helvetica';
	padding-top: 100px;
	margin: 0;
	color: #ffffff;
}

#wrapper {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	background-color: #2a3744;
}

#tdheader {
	text-align: center;
}

#tdul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}

.fa {
	float: right;
	margin: 2px;
	z-index: 200;

}

.li {
	width: 385px;
	margin: 5px 10px 5px 3px;
	padding: 5px;
	background-color: #71dbdb;
	font-size: 22px;
	min-height: 25px;
	position: relative;
}

.li span {
	font-size: 11px;
	color: #2a3744;
	width: 68px;
	float: right;
	margin-top: 9px;
}

.li p {
	width: 360px;
	padding: 0;
	margin: 0;
	z-index: 1;
	display: block;
}

input[type=text] {
	padding: 3px;
	font-size: 22px;
}

#newInput {
	width: 303px;
	color: #a1a1a1;
	margin-left: 3px;
	margin-top: 0px;
}

input[type=submit] {
	padding: 3px;
	font-size: 22px;
	background-color: #ffffff;
	color: #a1a1a1;
	margin-left: 1px;
}