body {
	font-family: "Helvetica Neue";
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	/*overflow: hide;*/
}

#header {
	width: 100%;
	height: 45px;
	background-color: #ffffff;
	z-index: 100;
}

#menu {
	top: -100px;
	width: 100%;
	background-color: #f2f2f2;
	position: relative;
}

.wH {
	position: fixed;
	margin-top: -10px;
	padding-top: 8px;
}

#spacer {
	height: 50px;
	width: 100%;
}

.spanlink {
	font-weight: 700;
	font-size: 20px;
	color: #000000;
}

#title {
	font-size: 35px;
	font-weight: 200;
	padding-left: 30px;
	padding-right: 40px;
	padding-top: 3px;
	float: left;
}

#wDino {
	margin-top: 100px;
}

#titleLink {
	color: #000000;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: -7px;
}

#wNav {
	padding-right: 16px;
}

.navLink {
	list-style: none;
	display: inline;
	padding-right: 20px;
	font-weight: 200;	
}

.menuLink {
	list-style: none;
	font-weight: 200px;
	text-align: right;
	padding-right: 10px;
}

#dm {
	list-style: none;
	display: none;
	position: absolute;
	z-index: 100;
	margin-left: 65px;
}

.dl {
	padding: 3px;
	text-align: center;
	background-color: #f2f2f2;
	margin: 1px;
	border: 1px solid #ffffff;
}

.dl a {
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}

.linkText {
	color: #000000;
	font-size: 25px;
	text-decoration: none;
}

#page {
	width: 100%;
	margin-top: 10px;	
}

#home {
	width: 100%;
}

iframe {
	margin-left: -5px;
	margin-top: 50px;
	border: none;
}

.jumbo {
	width: 100%;
	margin: 0 auto;
	position: relative;
} 

.jImg {
	margin-top: 5vh;
	width: 100%;
	height: 100%;
	border: 1px solid #ffffff;
	border-radius: 50%;
}

#jImgContainer {
	width: 45%;
	min-width: 275px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -20px;
}

.jTextTop {
	margin-top: 0px;
}

.jText {
	width: 80%;
	font-size: 23px;
	font-weight: 200;
	margin-left: 30px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.jText a {
	text-decoration: none;
	color: #000000;
}

#work {
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

.wText {
	width: 80%;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 200;
	padding-bottom: 10px;
}

.wText h1 {
	text-align: center;
}

.wText h1 a {
	text-decoration: none; 
	color: #000000;
}

#skills li{
	padding-top: 10px;
}

#dino {
	font-family: 'Helvetica Neue';
	font-weight: 700;
}

#thrones {
	font-family: 'Helvetica';
	font-weight: 700;
}

#contact {
	width: 100%;
	margin-top: 200px;
	margin-bottom: 30px;
	padding-bottom: 55px;
}

#dMe {
	padding-top: 4%;
	margin: 0 auto;
	width: 35%;
	min-width: 250px;
}

#me {
	width: 100%;
	margin: 0 auto;
	border: 1px solid #ffffff;
	border-radius: 50%;
}

#hello {
	text-align: center;
}

#helloText {
	color: #000000;
	font-weight: 300;
	font-size: 50px;
	margin: 5px;
}

#hello a {
	text-decoration: none;
}

.conIcons {
	text-align: center;
	font-size: 50px;
	padding-left: 10px;
	padding-right: 10px;
	color: #000000;
}

.project {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	min-width: 150px;
	margin-bottom: 10vh;
}

#workTitle {
	text-align: center;
}

#workTitle p {
	font-size: 60px;
	font-weight: 300;
}

.workInd {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	margin-top: 5%;
}

.workIndTitle {
	font-size: 30px;
	font-weight: 300;
	margin-top: 0px;
	width: 100%;
}

.workIndText {
	width: 90%;
	margin: 0 auto;
	font-size: 16px;
	text-align: left;
}

.workBubble {
	width: 45%;
	display: inline-block;
}

.workBubble img {
	width: 100%;
	border-radius: 50%;
	border: 1px solid #000000;
}

.bubbleH {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #f2f2f2;
	border: 1px solid #ffffff;
	position: relative;
	display: none;
}

.linkText:hover {
	opacity: 0.7;
}

.tdl {
	padding-top: 70px;
}

.fa-bars {
	display: none;
}

@media all and (max-width: 960px) and (min-width: 701px) {
	.workInd {
		margin-top: 1%;
	}
}

@media all and (max-width: 700px) and (min-width: 481px) {
	#wNav {
		display: none;
	}

	.fa-bars {
		display: inline-block;
		padding-top: 7px;
		padding-right: 15px;
		font-size: 20px;
		float: right;
	}

	.project {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		min-width: 150px;
		margin-bottom: 10%;
	}

	#workTitle {
		text-align: center;
	}

	#workTitle p {
		font-size: 60px;
		font-weight: 300;
	}

	.workInd {
		width: 90%;
		display: block;
		vertical-align: top;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
	}

	.workIndTitle {
		font-size: 30px;
		font-weight: 300;
		margin-top: 0px;
		width: 100%;
	}

	.workIndText {
		width: 90%;
		margin: 0 auto;
		font-size: 16px;
		text-align: left;
	}

	.workBubble {
		width: 70%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.workBubble img {
		width: 100%;
		border-radius: 50%;
		border: 1px solid #000000;
	}
}

@media all and (max-width: 480px) {
	#spacer {
		height: 45px;
		width: 100%;
	}

	.fa-bars {
		display: inline-block;
		padding-top: 7px;
		padding-right: 7px;
		font-size: 20px;
		float: right;
	}

	#title {
		padding-left: 5px;
		font-size: 30px;
	}

	#wNav {
		display: none;
	}

	.jText {
		width: 80%;
		top: 0px;
		font-size: 23px;
		font-weight: 200;
		margin-left: 5px;
		margin-top: -3px;
		margin-bottom: 5px;
	}

	.jText a {
		text-decoration: none;
		color: #000000;
	}

	.jImg {
		margin-top: 21vh;
	}

	#about {
		margin-top: 30px;
		margin-bottom: 0px;
		padding-bottom: 220px;
	}

	#wDino {
		margin-top: 0px;
	}

	#home {
		padding-bottom: 180px;
	}

	.wText h1 {
		font-size: 30px;
	}

	.wText a {
		font-weight: 500;
	}

	.wText p {
		font-size: 18px;
	}

	#contact {
		margin-top: 0px;
		margin-bottom: 100px;
	}

	.conIcons {
		font-size: 40px;
	}

	.project {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		min-width: 150px;
		margin-bottom: 10vh;
	}

	#workTitle {
		text-align: center;
	}

	#workTitle p {
		font-size: 60px;
		font-weight: 300;
	}

	.workInd {
		width: 100%;
		display: block;
		vertical-align: top;
		margin-top: 5%;
		margin-left: auto;
		margin-right: auto;
	}

	.workIndTitle {
		font-size: 30px;
		font-weight: 300;
		margin-top: 0px;
		width: 100%;
	}

	.workIndText {
		width: 100%;
		margin: 0 auto;
		font-size: 16px;
		text-align: left;
	}

	.workBubble {
		width: 90%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.workBubble img {
		width: 100%;
		border-radius: 50%;
		border: 1px solid #000000;
	}

}